<!DOCTYPE html>
<html>
<head>
  <title>Devtstatsapp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="page">
	<div id="header">
		
		<h1>WCMC Development Pipeline Analysis</h1>
		<h2>Using data from January 2007 to October 2010 inclusive</h2>
	</div>
	<div id="content">
		<div id="getting-started">
<%= yield %>
		</div>
	</div>
	<div id="sidebar">
		<ul>
			<li><%= link_to "List all projects", projects_path %></li>
			<li><%= link_to "List all staff", :controller => 'pipelines', :action => 'unique_staff' %></li>
			<li><%= link_to "List successful projects (1)", :controller => 'pipelines', :action => 'show_successes' %></li>
			<li><%= link_to "List failed projects (F)", :controller => 'pipelines', :action => 'show_failures' %></li>
			</br></br>
			<p><div class='successful_project'>Green text</div> indicates a successful project (stage 1).</p><p> <div class='failed_project'>Red text</div> indicates a failed project (stage F).</p><p>Blue text indicates no resolution (any other stage)</p>
		</ul>
	</div>
</div>
</body>
</html>
